<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<div class="card">
        <div class="card-header p-3 mb-2 bg-info text-white">
    <h1>Datos del Cliente</h1>
    <p>Ingrese los datos de los clientes</p>
</div>
</div>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombrecliente">
    <label>DUI:</label>
    <input type="text" [(ngModel)]="DUI">
    <label>Nombre mascota:</label>
    <input type="text" [(ngModel)]="nombremascota">
    <label>Tratamiento:</label>
    <input type="text" [(ngModel)]="tratamiento">
    <label>Medicamento:</label>
    <input type="text" [(ngModel)]="medicamento">
    <label>Visita:</label>
    <input type="number" [(ngModel)]="visita">
    <label>Costo:</label>
    <input type="number" [(ngModel)]="costo">
    <button class="btn btn-info" (click)="ingresar()">Ingresar</button>
    <br/><br/>
    <table [hidden]="contador == 0">
    <thead>
    <tr>
    <th>Nombre Cliente</th>
    <th>DUI</th>
    <th>Nombre Mascota</th>
    <th>Tratamiento</th>
    <th>Medicamento</th>
    <th>Visita</th>
    <th>Costo</th>
    <th>error</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tcliente of registro">
        <td>{{tcliente.nombrecliente}}</td>
        <td>{{tcliente.DUI}}</td>
        <td>{{tcliente.nombremascota}}</td>
        <td>{{tcliente.tratamiento}}</td>
        <td>{{tcliente.medicamento}}</td>
        <td>{{tcliente.visita}}</td>
        <td>{{tcliente.costo}}</td>
        <td>{{tcliente.x}}</td>
        </tr>
        </tbody>
        </table>
        <label>{{this.x}}</label>
        <label>{{this.visita}}</label>

        
